<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>MDD - stock control | Borrow</title>
  <meta name="description" content="MDD - stock control | Borrow" />
  <meta name="author" content="Xiduzo">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="style/main.css">


  <script src="https://unpkg.com/stein-js-client"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
  <script src="https://kit.fontawesome.com/6e76b24b2a.js" crossorigin="anonymous"></script>

  <!-- Launch Icon -->
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://www.masterdigitaldesign.com/static/figures/icons/apple-icon-180x180.png">

  <!-- Launch Icon Title -->
  <meta name="apple-mobile-web-app-title" content="Stock control - MDD">

  <!-- Enable standalone (full-screen) mode -->
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Status bar appearance (has no effect unless standalone mode is enabled) -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="manifest" href="https://designersmdd.gitlab.io/whats-in-the-lab/manifest.json">
  <meta name="theme-color" content="#81CBDF">

  <!-- Add to home screen -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- More info: https://developer.chrome.com/multidevice/android/installtohomescreen -->

  <!-- Windows Tiles -->
  <meta name="msapplication-config"
    content="https://www.masterdigitaldesign.com/static/figures/icons/browserconfig.xml">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage"
    content="https://www.masterdigitaldesign.com/static/figures/icons/ms-icon-144x144.png">

  <link rel="icon" type="image/png" sizes="192x192"
    href="https://www.masterdigitaldesign.com/static/figures/icons/icon-192x192.png">
  <link rel="icon" type="image/png" sizes="96x96"
    href="https://www.masterdigitaldesign.com/static/figures/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://www.masterdigitaldesign.com/static/figures/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://www.masterdigitaldesign.com/static/figures/icons/favicon-16x16.png">
</head>

<body>
  <h1 class="w-full text-center pt-4 text-4xl">
    Borrow an item
  </h1>
  <div id="app" class="flex flex-wrap py-8 justify-center">
    <table class="mx-2">
      <tr v-for="item in rentableItems" v-on:click="gotoItem(item.id)"
        class="bg-transparent hover:bg-gray-200 cursor-pointer py-2 px-4 my-2 rounded">
        <td class="px-2 py-2">
          {{item.name}}
        </td>
        <td class="italic px-2">{{item.for}}</td>
        <td class="px-2">
          {{item.total -
          item.outOfStock}} left
        </td>
      </tr>
    </table>
  </div>

  <script src="lib/groupBy.js"></script>
  <script src="lib/gotoPage.js"></script>
  <script>
    const store = new SteinStore(
      "https://api.steinhq.com/v1/storages/5fbfa269f62b6004b3eb6346"
    );

    const localData = JSON.parse(localStorage.getItem('cachedItems'))
    const app = new Vue({
      el: '#app',
      data: {
        rentableItems: localData?.filter(item => item.needPermissionToRent == 1) ?? []
      },
      methods: {
        gotoItem(id) {
          gotoPage('stock-detail', `id=${id}`)
        }
      }
    })

    const getData = async () => {

      const items = await store.read("items")
      localStorage.setItem('cachedItems', JSON.stringify(items))

      app.rentableItems = items.filter(item => item.needPermissionToRent == 1)
    }

    getData()
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-L1LK79TXFL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-L1LK79TXFL');
  </script>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('service-worker.js', { scope: "https://designersmdd.gitlab.io/whats-in-the-lab/" });
      })
    }
  </script>

</body>

</html>