<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>MDD - stock control | Detail</title>
  <meta name="description" content="MDD - stock control | Detail" />
  <meta name="author" content="Xiduzo" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="style/main.css" />

  <script src="https://unpkg.com/stein-js-client"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
  <script src="https://kit.fontawesome.com/6e76b24b2a.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.3/dist/confetti.browser.min.js"></script>

  <!-- Launch Icon -->
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://www.masterdigitaldesign.com/static/figures/icons/apple-icon-180x180.png">

  <!-- Launch Icon Title -->
  <meta name="apple-mobile-web-app-title" content="Stock control - MDD">

  <!-- Enable standalone (full-screen) mode -->
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Status bar appearance (has no effect unless standalone mode is enabled) -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="manifest" href="https://designersmdd.gitlab.io/whats-in-the-lab/manifest.json">
  <meta name="theme-color" content="#81CBDF">

  <!-- Add to home screen -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- More info: https://developer.chrome.com/multidevice/android/installtohomescreen -->

  <!-- Windows Tiles -->
  <meta name="msapplication-config"
    content="https://www.masterdigitaldesign.com/static/figures/icons/browserconfig.xml">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage"
    content="https://www.masterdigitaldesign.com/static/figures/icons/ms-icon-144x144.png">

  <link rel="icon" type="image/png" sizes="192x192"
    href="https://www.masterdigitaldesign.com/static/figures/icons/icon-192x192.png">
  <link rel="icon" type="image/png" sizes="96x96"
    href="https://www.masterdigitaldesign.com/static/figures/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://www.masterdigitaldesign.com/static/figures/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://www.masterdigitaldesign.com/static/figures/icons/favicon-16x16.png">
</head>

<body>
  <canvas id="confetti-canvas"></canvas>
  <div id="app" class="py-4">
    <section v-if="item" class="mb-2">
      <h1 class="text-4xl text-center">
        <span>{{item.name}}</span>
      </h1>
      <section class="text-sm flex-wrap flex justify-center font-bold text-white py-2">
        <div v-if="item.needPermissionToRent == 1" v-bind:class="{
                          'bg-green-500': item.outOfStock < item.total * 0.5,
                          'bg-red-500': item.outOfStock >= item.total * 0.5
                        }" class="self-center rounded-full px-3 py-1 m-2 bg-gray-400 w-full sm:w-1/2 lg:w-1/4">
          <i class="fas fa-cubes mr-2"></i>
          {{item.total - item.outOfStock}} left
        </div>
        <div v-bind:class="{
                                    'bg-green-500': item.knowledgeHolders > 3,
                                    'bg-orange-500': item.knowledgeHolders <= 3 && item.knowledgeHolders > 0,
                                    'bg-red-500': item.knowledgeHolders == 0
                                  }"
          class="self-center rounded-full px-3 py-1 m-2 bg-gray-400 w-full sm:w-1/2 lg:w-1/4">
          <i class="fas fa-brain mr-1"></i>
          {{item.knowledgeHolders}} people know how to use
        </div>

        <div class="self-center rounded-full px-3 py-1 m-2 bg-blue-400 w-full sm:w-1/2 lg:w-1/4">
          <i class="fas fa-archive mr-2"></i>
          {{item.type}}
        </div>

      </section>
      <article class="text-center py-4 max-w-md m-auto">
        <p v-if="item.for">
          <q>{{item.for}}</q>
        </p>
        <p v-if="item.howTo.length > 0" class="mt-4">
          <a class="p-2 text-blue-500 hover:text-white hover:bg-blue-500 rounded" v-bind:href="item.howTo"
            target="_blank">
            <i class="fab fa-readme mr-2"></i>
            Instructions <span>{{item?.name ?? '-'}}</span>
          </a>
        </p>
      </article>
    </section>

    <section class="flex flex-col items-center justify-center m-2">
      <h2 class="text-xl">Knowledge heroes</h2>
      <div class="grid grid-cols-4 gap-4 py-4" v-if="knowledgeHolders.length > 0">
        <div v-for="hero in knowledgeHolders">{{hero.user}}</div>
      </div>
      <div class="text-center text-gray-500">
        Familiar with <span>{{item?.name ?? '-'}}</span>? Help others!
      </div>
      <button @click="haveKnowledge" id="knowledgeButton" aria-label="Familiar with tool"
        class="bg-transparent hover:bg-green-500 text-blue-700 hover:text-white py-2 px-4 my-2 rounded">
        <i class="fas fa-brain mr-2"></i>
        I know how to use <span>{{item?.name ?? '-'}}</span>
      </button>
    </section>

    <section class="flex flex-col items-center my-4" v-bind:class="{'hidden': item?.needPermissionToRent != 1}">
      <button id="googleSignInButton" class="hidden" aria-label="Google signin"
        class="bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white py-2 px-4 mx-3 rounded">
        Sign in to borrow
      </button>
      <button v-if="item" @click="rentModal" aria-label="Borrow this tool"
        v-bind:class="{'hidden': item.total - item.outOfStock <= 0}"
        class="bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white py-2 px-4 mx-3 rounded">
        Request to borrow
      </button>
      <div v-if="item" v-bind:class="{'hidden': item.total - item.outOfStock > 0}">
        Item is rented out
      </div>
    </section>

    <div class="px-3 py-4 w-full" v-if="rents.length> 0">
      <div class="shadow overflow-hidden border-b border-gray-200 rounded-lg">
        <table class="divide-y divide-gray-200 w-full">
          <thead>
            <tr class="bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase">
              <th class="px-3 py-2">By</th>
              <th class="px-3 py-2">Date</th>
              <th class="px-3 py-2">Status</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr v-for="rent in rents" :key="rent.id" class="text-sm leading-5">
              <td class="px-3 py-4 whitespace-no-wrap">{{rent.rentedBy}}</td>
              <td class="px-3 py-4 whitespace-no-wrap">
                {{rent.from | formatDate }} - {{rent.until | formatDate}}
              </td>
              <td class="px-3 py-4 whitespace-no-wrap text-white font-medium">
                <span v-bind:class="{
                  'bg-green-500': rent.status === 'returned',
                  'bg-red-500': rent.status === 'denied',
                  'bg-blue-500': rent.status === 'rented',
                  'bg-orange-500': rent.status === 'requested',
                }" class="inline-block text-xs px-2 rounded-full uppercase tracking-wide">{{rent.status}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <modal v-if="showRentModal" @ok="sendRentRequest">
      <h1 slot="header" class="text-2xl">Borrow {{item.name}}</h1>
      <form slot="body">
        <fieldset>
          <legend class="text-xl pb-2">Borrow date</legend>
          <section class="flex flex-wrap">
            <section class="pb-2 w-full md:w-1/2">
              <label for="from">borrow from</label><br />
              <input type="date" id="from" name="from" v-model="formInput.from" />
            </section>
            <section class="pb-2 w-full md:w-1/2">
              <label for="until">borrow until</label><br />
              <input type="date" id="until" name="until" v-model="formInput.until" />
            </section>
          </section>
        </fieldset>
      </form>
      <section slot="footer" class="flex justify-end">
        <button class="bg-transparent text-red-500 px-3 py-2 rounded" aria-label="Cancel action"
          @click="showRentModal = false">
          Cancel
        </button>
        <button aria-label="Confirm action"
          class="bg-transparent hover:bg-green-500 text-green-500 hover:text-white px-3 py-2 rounded"
          @click="sendRentRequest">
          Send request
        </button>
      </section>
    </modal>
  </div>


  <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container flex text-center">

              <slot name="header">
                default header
              </slot>

              <slot name="body">
                default body
              </slot>

            <slot name="footer">
              <button aria-label="Confirm action" class="modal-default-button" @click="$emit('ok')">
                OK
              </button>
            </slot>
            </div>
          </div>
        </div>
      </transition>
    </script>

  <script src="lib/confetti.min.js"></script>
  <script>
    const urlParams = new URLSearchParams(window.location.search)
    const id = urlParams.get('id')

    const store = new SteinStore(
      'https://api.steinhq.com/v1/storages/5fbfa269f62b6004b3eb6346'
    )

    Vue.component('modal', {
      template: '#modal-template',
    })

    Vue.filter('formatDate', function (value) {
      if (value) {
        return new Date(value).toDateString()
      }
    })

    const localData = JSON.parse(localStorage.getItem('cachedItems'))

    const localItem = localData?.find((item) => item.id === id)
    const updateLocalItem = (newState) => {
      localStorage.setItem(
        'cachedItems',
        JSON.stringify([
          ...localData?.filter((item) =>
            item.id !== newState.id
          ) ?? [],
          newState
        ])
      )
    }

    const app = new Vue({
      el: '#app',
      data: {
        item: localItem,
        rents: [],
        knowledgeHolders: [],
        showRentModal: false,
        user: null,
        formInput: {
          from: new Date().toLocaleDateString('en-CA'),
          // Js date is a fucking mess
          until: new Date(
            new Date().setDate(new Date().getDate() + 1 * 7)
          ).toLocaleDateString('en-CA'),
        },
      },
      methods: {
        rentModal() {
          const user = getUser()
          if (!user) return document.getElementById('googleSignInButton').click()
          this.showRentModal = true
        },
        sendRentRequest() {
          if (!this.item) return
          const user = getUser()

          if (!user) return document.getElementById('googleSignInButton').click()

          const item = {
            id: uuid(),
            itemId: this.item.id,
            rentedBy: user,
            from: this.formInput.from,
            until: this.formInput.until,
            status: 'requested',
            requestDate: new Date(),
          }

          this.showRentModal = false
          // Optimistic update
          this.item.outOfStock = Number(this.item.outOfStock) + 1

          this.rents.push(item) // Optimistic adding

          store
            .append('rented_items', [item])
            .then((_) => {
              updateLocalItem(this.item)
            })
            .catch((error) => {
              // Remove it again when something did go wrong
              this.item.outOfStock = Number(this.item.outOfStock) - 1
              this.rents = this.rents.filter((rent) => rent.id !== item.id)
            })
        },
        haveKnowledge() {
          const user = getUser()
          if (!user) return document.getElementById('googleSignInButton').click()

          const item = {
            id: uuid(),
            itemId: this.item.id,
            user,
            addedOn: new Date().toLocaleDateString(),
          }

          const hasItem = this.knowledgeHolders.find(
            (knowledgeHolder) => knowledgeHolder.user == item.user
          )

          if (hasItem) {
            alert('You already are a hero! Much appreciated ❤️')
            return
          }

          // Optimistic add
          this.knowledgeHolders.push(item)
          this.item.knowledgeHolders = Number(this.item.knowledgeHolders) + 1
          const count = 300;
          const defaults = {
            colors: [
              "#193f52",
              "#fed557",
              "#81cbdf",
              "#e2efb7",
            ]
          };

          const fire = (particleRatio, corner, opts) => {
            const origin = corner === 'left' ? { y: 1, x: 0 } : { y: 1, x: 1 }
            confetti(Object.assign({}, defaults, opts, {
              origin,
              particleCount: Math.floor(count * particleRatio)
            }));
          }

          fire(0.5, "left", {
            angle: 45,
            spread: 60,
            startVelocity: 75,
          });

          fire(0.5, "left", {
            angle: 45,
            spread: 100,
            startVelocity: 35,
          });

          fire(0.66, "left", {
            angle: 90,
            spread: 20,
            startVelocity: 75,
          });

          fire(0.5, "right", {
            angle: 135,
            spread: 60,
            startVelocity: 75,
          });

          fire(0.66, "right", {
            angle: 90,
            spread: 20,
            startVelocity: 75,
          });

          fire(0.5, "right", {
            angle: 135,
            spread: 100,
            startVelocity: 35,
          });

          store
            .append('knowledge_holders', [item])
            .then((_) => {
              const confettiSettings = {
                target: 'confetti-canvas',
                colors: [
                  [25, 63, 82],
                  [254, 213, 87]
                  [129, 203, 223],
                  [226, 239, 183],
                ],
                size: 1.2,
                start_from_edge: true
              };
              const confetti = new ConfettiGenerator(confettiSettings);
              confetti.render();
              updateLocalItem(this.item)
            })
            .catch((error) => {
              this.item.knowledgeHolders =
                Number(this.item.knowledgeHolders) - 1
              this.knowledgeHolders = this.knowledgeHolders.filter(
                (record) => record.id !== item.id
              )
            })
        },
      },
    })

    const getData = () => {
      store.read('items', { limit: 1, search: { id } }).then((data) => {
        if (data[0]) {
          app.item = data[0]
          updateLocalItem(app.item)
        }
        app.user = getUser()
      })

      store.read('rented_items', { search: { itemId: id } }).then((data) => {
        app.rents = data
      })

      store
        .read('knowledge_holders', { search: { itemId: id } })
        .then((data) => {
          app.knowledgeHolders = data
        })
    }

    getData()
  </script>
  <script src="lib/googleUser.js"></script>
  <script src="lib/uuid.js"></script>
  <script async defer src="https://apis.google.com/js/api.js" onload="startGoogleAuth()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-L1LK79TXFL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-L1LK79TXFL');
  </script>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('service-worker.js', { scope: "https://designersmdd.gitlab.io/whats-in-the-lab/" });
      })
    }
  </script>
</body>

</html>