<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>MDD - stock control | Overview</title>
  <meta name="description" content="MDD - stock control | Overview" />
  <meta name="author" content="Xiduzo">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="style/main.css">


  <script src="https://unpkg.com/stein-js-client"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
  <script src="https://kit.fontawesome.com/6e76b24b2a.js" crossorigin="anonymous"></script>

  <!-- Launch Icon -->
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://www.masterdigitaldesign.com/static/figures/icons/apple-icon-180x180.png">

  <!-- Launch Icon Title -->
  <meta name="apple-mobile-web-app-title" content="Stock control - MDD">

  <!-- Enable standalone (full-screen) mode -->
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Status bar appearance (has no effect unless standalone mode is enabled) -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="manifest" href="https://designersmdd.gitlab.io/whats-in-the-lab/manifest.json">
  <meta name="theme-color" content="#81CBDF">

  <!-- Add to home screen -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- More info: https://developer.chrome.com/multidevice/android/installtohomescreen -->

  <!-- Windows Tiles -->
  <meta name="msapplication-config"
    content="https://www.masterdigitaldesign.com/static/figures/icons/browserconfig.xml">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage"
    content="https://www.masterdigitaldesign.com/static/figures/icons/ms-icon-144x144.png">

  <link rel="icon" type="image/png" sizes="192x192"
    href="https://www.masterdigitaldesign.com/static/figures/icons/icon-192x192.png">
  <link rel="icon" type="image/png" sizes="96x96"
    href="https://www.masterdigitaldesign.com/static/figures/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://www.masterdigitaldesign.com/static/figures/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://www.masterdigitaldesign.com/static/figures/icons/favicon-16x16.png">
</head>

<body>
  <div id="app">
    <div class="flex items-center">
      <div class="w-full p-2 relative mx-auto text-gray-600">
        <input autofocus
          class="w-full border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
          type="search" name="search" placeholder="Search, E.g., 'arduino', 'bluetooth', 'motion', 'audio'"
          @input="filter" v-model="searchBox">
        <button type="submit" aria-label="search" class="absolute right-0 top-0 mt-5 mr-4">
          <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
            width="512px" height="512px">
            <path
              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex flex-wrap mb-32">
      <div v-for="group in groups" class="px-3 py-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/6">
        <div class="shadow overflow-hidden border-b border-gray-200 rounded-lg">
          <table class="divide-y divide-gray-200 w-full">
            <caption class="py-1 font-bold">
              {{group[0]}}s
            </caption>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr v-for="item in group[1]" :key="item.id" v-on:click="gotoItem(item.id)"
                class="text-sm hover:bg-gray-200 cursor-pointer">
                <td class="pl-1">
                  <div class="py-2 md:py-1">
                    <span class="ml-1 text-sm">
                      {{item.name}} <span v-if="item.needPermissionToRent == 1">({{item.total - item.outOfStock}}
                        left)</span>
                    </span>
                  </div>
                </td>
                <td class="pl-1 text-white font-medium">
                  <i v-if="item.knowledgeHolders > 0" class="fas fa-brain text-gray-900"></i>
                  <i v-if="item.knowledgeHolders > 3" class="fas fa-brain text-gray-900"></i>
                  <i v-if="item.knowledgeHolders > 5" class="fas fa-brain text-gray-900"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="lib/groupBy.js"></script>
  <script src="lib/gotoPage.js"></script>
  <script>
    const store = new SteinStore(
      "https://api.steinhq.com/v1/storages/5fbfa269f62b6004b3eb6346"
    );

    const localData = JSON.parse(localStorage.getItem('cachedItems'))
    const app = new Vue({
      el: '#app',
      data: {
        searchBox: '',
        groups: localData?.length > 0 ? Array.from(groupBy(localData, item => item.type)) : [],
        rawData: localData ?? [],
      },
      methods: {
        gotoItem(id) {
          gotoPage('stock-detail', `id=${id}`)
        },
        filter() {
          const filterOn = this.searchBox.toLowerCase()

          if (filterOn === '' || filterOn === undefined) {
            this.groups = Array.from(groupBy(app.rawData, item => item.type))
            return
          }

          const hasMatch = (checkOn) => {
            if (checkOn.toLowerCase().includes(filterOn)) return true
            return false
          }

          const filtered = this.rawData.filter(item => {
            if (hasMatch(item.type)) return item
            if (hasMatch(item.for)) return item
            if (hasMatch(item.name)) return item
          })

          this.groups = Array.from(groupBy(filtered, item => item.type))
        }
      },
    })

    const getData = async () => {
      const items = await store.read("items")
      localStorage.setItem('cachedItems', JSON.stringify(items))
      app.rawData = items
      app.groups = Array.from(groupBy(items, item => item.type))
    }

    getData()
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-L1LK79TXFL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-L1LK79TXFL');
  </script>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('service-worker.js', { scope: "https://designersmdd.gitlab.io/whats-in-the-lab/" });
      })
    }
  </script>

</body>

</html>